<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        #buttonid
        {
        background-color: #4CAF50;


        }

    </style>

</head>
<body>
<form method="POST"  action="/updateid/{{emp.id}}">

        {% csrf_token %}


    <h3>Update Details</h3>

        <input type="text" name="name" value="{{ emp.name }}">

        <input type="text" name="age" value="{{ emp.age }}" >
        <input type="text" name="comment" value="{{ emp.comment }}" >

    <button type="submit" id="buttonid" >Update</button>

</form>
</body>
</html>
